<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.FabricaSapatos"
            tools:targetApi="31">
        <activity
                android:name=".ui.activities.product.CreateProductActivity"
                android:exported="false"
                android:label="@string/title_activity_create_product"
                android:theme="@style/Theme.FabricaSapatos"/>
        <activity
                android:name=".ui.activities.product.GetProductsActivity"
                android:exported="false"
                android:label="@string/title_activity_get_products"
                android:theme="@style/Theme.FabricaSapatos"/>
        <activity
                android:name=".principal.MainActivity"
                android:exported="true"
                android:label="@string/title_activity_main"
                android:theme="@style/Theme.FabricaSapatos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.client.DeleteClientActivity"
                android:exported="false"
                android:label="@string/title_activity_delete_client"
                android:theme="@style/Theme.FabricaSapatos"/>
        <activity
                android:name=".ui.activities.client.UpdateClientActivity"
                android:exported="false"
                android:label="@string/title_activity_update_client"
                android:theme="@style/Theme.FabricaSapatos"/>
        <activity
                android:name=".ui.activities.client.GetClientsActivity"
                android:exported="false"
                android:label="@string/title_activity_get_clients"
                android:theme="@style/Theme.FabricaSapatos"/>
        <activity
                android:name=".ui.activities.client.CreateClientActivity"
                android:exported="false"
                android:label="@string/title_activity_create_client"
                android:theme="@style/Theme.FabricaSapatos"/>
    </application>

</manifest>